<footer class="wrapper row align-center space-between px-15">
  <div class="column gap-05">
    <span>John Henric Quimson</span>
    <span>Piedmont, Italy</span>
  </div>
  <div class="row gap-2">
    <a
      href="https://www.linkedin.com/in/john-henric-quimson-973827280/"
      target="_blank"
      class="pi pi-linkedin"
    ></a>
    <a
      href="https://github.com/JohnQuimson"
      target="_blank"
      class="pi pi-github"
    ></a>
    <a
      href="mailto:john.quimson777@gmail.com"
      target="_blank"
      class="pi pi-envelope"
    ></a>
  </div>
  <div class="row"></div>
</footer>
